@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Fira Code", serif;
    font-weight: 500;
}

.createPage, .loginPage {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.createForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formHeading {
    font-size: 40px;
    align-items: center;
}

.dashboard {
    display: flex;
    align-items: center;   
    justify-content: center;
    width: 100%;
}

.dashboard-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo {
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-left: 5px solid black;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 3px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-title {
    font-weight: 600;
}

.todo-btns-box {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.todo-title {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.del-icon {
    color: rgba(9, 9, 228, 0.88);
    margin-top: 5px;
}

.todo-remaining, .todo-description {
    font-size: 18px;
    font-weight: 400;
    margin-left: 8px;
}

.timer {
    display: inline;
}